spring:
  datasource:
    url: jdbc:h2:mem:demo;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

security:
  jwt:
    secret: ${JWT_SECRET:very-long-default-secret-change-me}
    expiration-ms: 3600000
